.about{
    background: #E5E5E5;
    text-align: center;
}

@media screen and (min-width:0){
    .about{
        padding: 2.5rem 0rem;
    }
}

@media screen and (min-width:768px){
    .about{
        padding: 2.5rem;
    }
}