.footer{
    padding: 0px 3rem;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media screen and (min-width:0) {
    .footer{
        padding: 0px 1rem;
    }
}

@media screen and (min-width:480px) {
    .footer{
        padding: 0px 1rem;
    }
}

@media screen and (min-width:768px) {
    .footer{
        padding: 0px 3rem
    }
}